body 
{
    background-color: #f2f2f2;
    font-family: Almarai;
}
a {
    color: #000 !important;
    text-decoration: none !important;
}
.special-container {background-color: #191f2b;border-radius: 0 0 20px 20px;}
.header{font-family: clear_sans, sans-serif;}
.header h1 {font-size:50px;font-weight: bold;color: #FFF;margin: 0;margin-top: 15px;}
.icon-left {position:relative ;left:3%;}
.icon-left i {float: left;color: #FFF;margin-top: -33px;} 
.icon-right {position:relative ;right:2%;}
.icon-right i {float: right;color: #FFF;margin-top: -33px;} 
.box 
{
    font-size: 25px;
    line-height: 1.6;
    background-color:#FFF;
    border-radius: 17px;
    text-align: center;
    height: 45px;
    width: 22.5%;
    margin-left: 2%;
    top: 20px;
    color:#898989;
}
.box .active {font-weight: bold;color: #000;}
.clearfix {clear: both;}
/* end header */

.row {margin-right:0;}
.row-privet {margin-right: -15px;}
.head-special {margin-top: 50px !important;}
.head {margin-top: 30px;}
.head h2 {display: inline;margin-right:3%;font-weight: bold;}
button 
{
    float:left;
    color:#8F8F8F;
    background-color:#ECECEC;
    border:none;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
    font-weight:bold;
    margin-left: 3%;
} 
.owl-carousel {margin-top: 20px;}
.card {border-radius: 20px;background-color: #fff;}
.card .box-title {height: 45px;text-align: center;background: #191f2b;color: #FFF;line-height: 2.5;font-size: 20px;font-family: Almarai;font-weight: bold;border-radius: 15px 15px 0 0;}
.card .box-separator {background: #f2f2f2;height: 10px;}

@media (max-width:767px){
    .header h1 
    {
        font-size: 36px;
    } 
    .box 
    {
        font-size: 18px;
        line-height: 2.4;
        font-weight: bold;
    }
    button 
    {
        font-size: 14px;
        padding: 5px;
        line-height: 1.65;
    }
}
/*  end header */

/* start league */
.img-format img {padding: 15%;}
/* End league */

/* starT matches */
.slider{
    display: flex;
}
.slider .card{
    flex: 1;
    background: #fff;
}
.match-container 
{
    padding-left: 12%;
    padding-right: 12%;
    height: 60px;
    text-align: center;
}
.match-container .club-right {float: right;}
.match-container .club-left {float: left;}
.match-container .spacial-span
{
    font-weight: 400;
    font-family: Almarai;
    font-size: 18px;
    line-height: 3;
}
.marginr {margin-right: 8%;}
.match-container .club-right img {width:24px;height:26px;float: left;margin-left: -15%;margin-top: 14px;}
.match-container .club-left img {width:24px;height:26px;float: right;margin-right:-12%;margin-top: 14px;}
.time-match {font-size: 20px;display: inline-block;line-height: 1.1;font-weight: 400;margin-top: 12px;}
.score-match {display: inline-block;font-size: 20px;line-height: 2.8;font-weight: bold;}

@media (max-width:767px){
    .time-match 
    {
        font-size: 16px;
    }
    .spacial-row 
    {
        margin: 0!important;
    }
}
@media only screen 
    and (max-width : 250px)  {
    .match-container 
    {
        padding-left:0%;
        padding-right:3%;
    }
    .match-container .spacial-span
    {
        font-size: 15px;
        line-height: 4;
    }
    .time-match
    {
        font-size: 12px;
    }
    .players .img span {
        font-size: 10px !important;
    }
    .slider3 {
        margin-top: 45px !important;
    }
}
@media only screen 
    and (min-width : 300px) and  (max-width : 325px) {
    .match-container 
    {
        padding-left:3%;
        padding-right:3%;
    }
    .match-container .spacial-span
    {
        font-size: 18px;
        line-height: 3;
    }
}
@media only screen 
    and (min-width : 200px) and  (max-width : 230px) {
    .match-container .spacial-span
    {
        font-size: 14px;
        line-height: 4;
    }
}
@media only screen 
    and (min-width : 250px) and  (max-width : 300px) {
    .match-container 
    {
        padding-left:3%;
        padding-right:3%;
    }
    .match-container .spacial-span
    {
        font-size: 14px;
        line-height: 4;
    }
}
@media only screen 
    and (device-width : 320px) 
    and (device-height : 568px) {

    .match-container 
    {
        padding-left:6%;
        padding-right:6%;
    }
    .match-container .spacial-span
    {
        font-size: 18px;
        line-height: 3;
    }
}
@media only screen 
    and (device-width : 360px) 
    and (device-height : 640px) {
    .match-container 
    {
        padding-left:10%;
        padding-right:10%;
    }
    .match-container .spacial-span
    {
        font-size: 18px;
        line-height: 3;
    }
}
@media only screen 
    and (device-width : 540px) 
    and (device-height : 720px) {
    .match-container 
    {
        padding-left:20%;
        padding-right:20%;
    }
}
@media only screen 
    and (device-width : 250px) 
    and (device-height : 626px) {
    .match-container 
    {
        padding-left:3%;
        padding-right:3%;
    }
    .match-container .spacial-span {
        font-size: 14px;
        line-height: 4;
    }
}
/* end matches */

/* start players */
.players .card {
    border-radius: 20px;
}
.players .img img 
{
    padding: 15% 15% 5% 15%;
}
.players .img div 
{
    font-family: Almarai;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
@media (max-width: 767px){
    .head h2 {
        font-size: 20px;
    }
    .spical-h {
        margin-right: 6% !important;
    }
    .players .card {
        border-radius: 10px;
    }
    .players .img div 
    {
        font-family: Almarai;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .players .img img 
    {
        padding: 15% 10% 5% 10%;
    }
}
@media only screen 
    and (device-width : 280px) 
    and (device-height : 653px) {
    .head h2 {font-size: 18px !important;}
}
@media only screen 
    and (device-width : 768px) 
    and (device-height : 1024px) {
        
    .players .img span {
        margin-right: 18%;
    }
}
@media only screen 
    and (device-width : 540px) 
    and (device-height : 720px) {
        
    .players .img span {
        margin-right: 26%;
    }
}
@media only screen 
    and (device-width : 280px) 
    and (device-height : 653px) {
        
    .players .img span {
        margin-right: 28% !important;
    }
}
/* end players */

/* Start secrion order */
.order {font-family: Almarai}
.order-padding {padding-left: 0px;}
.widget 
{
    background-color: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px 0 rgb(0 54 87 / 14%);
    margin-bottom: 15px;
    margin-top: 20px;
}
.widget_title 
{
    background-color:#191f2b;     /* #d63031*/
    text-shadow: 1px 1px 0 #191f2b; 
    text-align: center;
    color: #fff;
    height: 35px;
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
}
.table_data 
{
    padding: 10px;
    background-color: #f7f7f7;
    direction: rtl;
    text-align: right;
}
.table_data .table 
{
    background-color: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px 0 rgb(0 54 87 / 14%);
    margin-bottom: 0;
}
.table_data th 
{
    text-align: right;
    color: #000;
}
.table_data .name 
{
    font-weight: bold;
    font-size: 16px;
}
.red 
{
    color: red;
}
.green 
{color: #0ccf0c;
}
.orange 
{
    color: #ecc700;
}
.table_data td 
{
    font-size: 16px;
}
.unique {background: #EEE;}

@media screen and (max-width: 767px){
    div[class^=col], div[class*=' col'] {
        padding: 0 5px!important;
        }
}
@media screen and (max-width: 440px){
    .table_data th {
    padding: 5px 0!important;
    font-size: 14px;
    text-align: center!important;
    }
}
@media screen and (max-width: 440px){
    .table_data td {
    padding: 5px 0!important;
    text-align: center!important;
    }
}
/* End secrion order */

/* start artical */
.slider .card .img
{
    height: 200px;
    width: 100%;
}
.article .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:10px ;
}
.article .slider .card 
{
    height: 400px;
}
.article .slider .card .img 
{
    height: 262px
}
.article .card .content{
    padding: 15px;
}
.slider .card .content{
    padding: 10px 20px;
}
.card .content .title{
    font-size: 22px;
    font-weight: 600;
    color: #1e2022;
    font-family: clear_sans;
}
.article .card .content p{
    color: #7b7979;
    font-size: 16px;
    font-weight: 500;
    font-family: clear_sans;
}
.card .content hr {
margin-bottom: 30px;
border-top: 2px solid #e9e9e9;
}
.card .content .btnone 
{
    float: right;
    margin-top: -16px;
}
.card .content .btntwo 
{
    float: left;
    margin-top: -16px;
}
.card .content .btnone span ,
.card .content .btntwo span
{
    color:#9F9F9F;
    font-family: ClearSans;
    font-size: 15px;
}
.card .content  i
{
    color: #141414;
    font-size: 16px;
}
@media (max-width:767px) {
    .card .content .btnone span, .card .content .btntwo span {
        font-size: 12px;
        font-weight: bold;
    }
}
/* end artical */
