body 
{
    background-color: #f2f2f2;
    font-family: Almarai ;
}
/* start header */
.special-container {background-color: #191f2b;color: #FFF;border-radius: 0 0 20px 20px;}
.header{font-family: clear_sans, sans-serif;}
.header h1 {font-size:50px;font-weight: bold;margin: 0;margin-top: 15px;}
.icon-left {position:relative ;left:3%;}
.icon-left i {float: left;margin-top: -33px;} 
.icon-right {position:relative ;right:2%;}
.icon-right i {float: right;margin-top: -33px;} 
.box 
{
    font-size: 25px;
    line-height: 1.6;
    background-color:#FFF;
    border-radius: 17px;
    text-align: center;
    height: 45px;
    width: 22.5%;
    margin-left: 2%;
    top: 20px;
    color:#898989;
}
.box .active {font-weight: bold;color: #000;}
.clearfix {clear: both;}
/* end header */

/* start matches */
.row {margin-right:0;}
.head-special {margin-top: 50px !important;}
.head {margin-top: 30px;}
.head h2 {font-size: 36px;margin: 0;display: inline;margin-right:2%;}
button 
{
    float:left;
    color:#8F8F8F;
    background-color:#ECECEC;
    border:none;
    border-radius: 15px;
    font-size: 22px;
    padding: 5px;
    font-weight:bold;
    margin-left: 3%;
    outline: none;
} 
.owl-carousel {margin-top: 20px;}
.card {border-radius: 20px;background-color: #fff;}
.card-height {height: 120px;}
.card-border {border:1px solid #e71b26;}
.cont-img img {position: relative;width: 26% !important;}
.img-left img {float: left;left: 5%;}
.img-right img {float: right;right:4%;}
.img-rma img {margin-top: 8%;}
.img-bar img {margin-top: 2%;} 
.img-che img {margin-top: 13%;}          
.img-arc img {margin-top: 2%;}
.abb {position: relative;font-weight: bold;font-family: tahoma;}
.abb-ram {left: 17%;top: 75%;}
.abb-bar {right: 49%;top:57%;}
.abb-che {left: 16%;top: 72%;}
.abb-arc {right: 49.5%;top:56%;}
.spacial-one {position: absolute;right:41%;display: inline-block;font-size:20px;font-weight: bold;top: 35%;}
.spacial-two {position: absolute;right:43%;display: inline-block;font-size:16px;top: 35%;}
.live {background-color:#e71b26;color:#FFF;border-radius: 20px;width: 40%;height: 22px;text-align: center;line-height: 1.6;font-size: 14px;right: 28%;position: relative;margin-top: -5%;}

@media (max-width:767px){
    .header h1 {font-size: 36px;} 
    .box {font-size: 18px;line-height: 2.4;font-weight: bold;}
    .head h2 {font-size: 20px;font-weight: bold;}
    button 
    {
        float: left;
        color: #8F8F8F;
        background-color: #ECECEC;
        border: none;
        border-radius: 15px;
        font-size: 14px;
        padding: 5px;
        font-weight: bold;
        margin-left: 3%;
        line-height: 1.65;
    }
    .img-rma img {margin-top: 4%;}
    .img-bar img {margin-top: -1%;}
    .img-che img {margin-top: 10%;}
    .img-arc img {margin-top: -1%;}
}
@media only screen 
    and (device-width : 280px) 
    and (device-height : 653px) {
    .head h2 {font-size: 18px !important;}
}
@media only screen 
    and (device-width : 540px) 
    and (device-height : 720px) 
    and (-webkit-device-pixel-ratio :2)
    and (orientation : landscape) { 
        .img-che img { margin-top: 16%;}
        .img-rma img{margin-top: 10%;}
} 
/* End matches */

.slider{max-width: 1155px;display: flex;}
.slider .card {flex: 1;margin: 0 10px;background: #fff;}

/* start artical */
.slider .card .img{height: 200px;width: 100%;}
.article .slider .card .img img {height: 100%;width: 100%;object-fit: cover;border-radius:10px}
.article .slider .card {height: 400px;}
.article .slider .card .img {height: 262px}
.article .card .content {padding: 15px;}
.slider .card .content {padding: 10px 20px;}
.card .content .title{font-size: 22px;font-weight: 600;color: #1e2022;font-family: clear_sans;}
.article .card .content p{color: #7b7979;font-size: 16px;font-weight: 500;font-family: clear_sans;}
.card .content hr {margin-bottom: 30px;border-top: 2px solid #e9e9e9;}
.card .content .btnone {float: right;margin-top: -16px;}
.card .content .btntwo {float: left;margin-top: -16px;}
.card .content .btnone span , .card .content .btntwo span {color:#9F9F9F;font-family: ClearSans;font-size: 15px;}
.card .content  i{color: #141414;font-size: 16px;}
@media (max-width:767px) {
    .card .content .btnone span, .card .content .btntwo span {font-size: 12px;font-weight: bold;}
}
/* end artical */

/* start league */
.img-format img {padding: 15%;}
/* End league */

/* start countries */
.slider3 .card {background-color: #FFF;border-radius: 20px;}
.slider3 .card .img span {position: absolute;font-size: 22px;right: 20%;top: 30%;}
.slider3 .card .img img {padding: 15%;width:50%;position: relative;right: 40%; }
@media (max-width:767px) {
    .slider3 .card {background-color: #FFF;border-radius: 10px;}
    .slider3 .card .img span { position: absolute;font-size: 14px;right: 17%;top: 26%;}
    .slider3 .card .img img {margin-right: 6%; }
}
/* end countries */

/* start clubs */
.slider4 {background-color: #FFF;border-radius: 0 20px 20px 0;}
@media (max-width:767px) {
    .slider4 {background-color: #FFF;border-radius: 0 10px 10px 0; }
}
/* end clubs */